/* wacoal webstore For win */

/* ヘッダー03　サーチエリア */
.crt01{font-size:9pt; line-height:11pt; color:#999999;}
.crt02{font-size:9pt; line-height:11pt; color:#000000;}
.crt03{font-size:8pt; line-height:10pt; color:#000000;}
textarea {font-size:9pt; line-height:13pt; padding:1pt;}
.srchbg {background: url(../images/03_bg_search.gif) repeat-x left top;}
.cartbg {background: url(../images/03_bg_cart.gif) repeat-x left top;}

/* ヘッダー04　会員エリア */
.mbr01{font-size:10pt; line-height:12pt; color:#ffffff;}
.mbr01 a:link {color: #ffffff; text-decoration: none;}
.mbr01 a:visited {color: #ffffff; text-decoration: none;}
.mbr01 a:active {color: #ffffff; text-decoration: none;}
.mbr01 a:hover {color: #ffffff; text-decoration: underline;}
.mbr02{font-size:8pt; line-height:10pt; color:#666666;}
.mbr03{font-size:9pt; font-weight:bold; line-height:10pt; color:#000000;}
.mbr04{font-size:8pt; line-height:10pt; color:#ff3399;}

/* フッター01　リンクエリア */
.ftr_idx{font-size:8pt; line-height:10pt; color:#666666;}
.ftr_idx2{font-size:8pt; line-height:10pt; color:#ff3399;}
.ftr_idx3{font-size:8pt; line-height:10pt; color:#000000;}
