/* wacoal webstore For win */

/* cmn style*/
@import "win02.css";

/* header style*/
@import "hdrwin.css";

body {
	background:#ffffff;
	color: #666666;
	text-decoration: none;
	font-size:9pt;
	line-height:11pt;
	padding:1pt;
}
#main {
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a:link {color: #ff3399;text-decoration: none;}
a:visited {color: #ff3399;text-decoration: none;}
a:hover {color: #ff33cc;text-decoration: none;}


.bdy{font-size:9pt; line-height:11pt;padding:1pt;}
.cap{font-size:8pt; line-height:10pt;padding:1pt;}
.imgline{border:1px #999999 solid;}

/* トップページ */
.top01{font-size:9pt; line-height:11pt; color:#ff3399;}
.top02{font-size:9pt; line-height:11pt; color:#666666;}
.top_attn{font-size:8pt; font-weight:bold; line-height:10pt; color: #ffffff;}
.top_attnbdy{font-size:9pt; line-height:11pt; color: #ff0000;}
.top_new{font-size:9pt; line-height:11pt; color: #000000;}
.top_new2{font-size:9pt; line-height:11pt; color: #cb6677;}
.top_new a {text-decoration: none;}
.top_new a:link {color: #000000; text-decoration: none;}
.top_new a:visited {color: #444444; text-decoration: none;}
.top_new a:active {color: #444444; text-decoration: none;}
.top_new a:hover {color: #cc0066; text-decoration: none;}
.top_rankingbdy{font-size:8pt; line-height:10pt; color:#333333;}
.top_rankingnum{font-size:8pt; line-height:10pt; color:#999999;}

/* ジュニアページ */
.braslctbg01 {background: url(../images/braselect_step1bg.gif) repeat-x left top;}
.braslctbg02 {background: url(../images/braselect_step2bg.gif) repeat-x left top;}
.braslctbg03 {background: url(../images/braselect_step3bg.gif) repeat-x left top;}

/* ブランド一覧ページ */
.brdttl{font-size:8pt; line-height:13pt; color:#980032;}
.brdbdy{font-size:8pt; line-height:10pt; color:#c95f7b;}
.brdnew{font-size:8pt; line-height:10pt; color:#845f7d;}

/* ブランド定型ページ */
.itm_new{font-size:9pt; line-height:11pt; color: #333333;}
.itm_ttl{ font-size:10px; line-height:13px; font-weight:bold; color: #000000;}
.itm_bdy{ font-size:9px; line-height:11px; color: #666666;}
.itm_attn{ font-size:9px; line-height:11px; color: #ff0000;}
.moreinfo_bdy1{font-size:9pt;line-height:12pt;color: #ff90b4;}
.moreinfo_bdy2{font-size:9pt;line-height:12pt;color: #333333;}
.moreinfo_bdy2 a { text-decoration: none;}
.moreinfo_bdy2 a:link { color: #333333; text-decoration: none;}
.moreinfo_bdy2 a:visited { color: #666666; text-decoration: none;}
.moreinfo_bdy2 a:active { color: #000000; text-decoration: none;}
.moreinfo_bdy2 a:hover { color: #cc3399; text-decoration: none;}
.rcm_ttl{font-size:9pt;line-height:11pt;font-weight:bold;color: #e43583;}
.rcm_bdy{font-size:8pt;line-height:10pt;color: #666666;}

/* アイテム一覧ページ */
.item_bdy1{ font-size:9pt; line-height:11pt; color: #ff3399;}
.item_bdy2{ font-size:9pt; line-height:11pt; color: #7d6262;}
.item_bdy3{ font-size:8pt; line-height:10pt; color: #333333;}

/* 詳細メイン */
.cmt{font-size:8pt; line-height:10pt; color:#999999;}
.ttl{font-size:14pt; font-weight: bold; line-height:16pt; color:#000000;}
.rrd{font-size:8pt; line-height:10pt; color:#666666;}
.rrd ul {
	margin: 0px;
	padding: 0px;
	list-style: circle inside;
}
.item_list1 {width:100px; height:205px; margin:0px 6px 0px 6px; float:left; text-align:left;}
.item_list2 {width:100px; height:180px; margin:0px 6px 0px 6px; float:left; text-align:left;}
.alert_with_icon {
	color:#999999;
	font-size:8pt;
	line-height:10pt;
}

.sub01{font-size:9pt; font-weight: bold; line-height:11pt; color:#000000;}
.sub02{font-size:9pt; font-weight: bold; line-height:11pt; color:#ff3399;}
.cart01{font-size:9pt; line-height:11pt; color:#000000;}
.cart02{font-size:9pt; line-height:11pt; color:#666666;}
.alrt{font-size:8pt; line-height:10pt; color:#ff0033;}
.crd01{font-size:8pt; line-height:9pt; color:#000000;}
.crd02{font-size:8pt; line-height:9pt; color:#999999;}

form {margin: 0px; padding: 0px;}
.btn {margin: 0px; padding: 0px; height: 12px; width: 12px;}

/* カラー選択 */
ul.color-select {
width:240px;
padding:0;
margin:0;
list-style-type:none;
}
ul.color-select li {
float:left;
width:32px; height:32px;
display:block;
margin:7px 7px 0 0;
overflow:hidden;
font-family:'verdana', sans-serif;
font-weight:bold;
}
/* カラー選択：枠 */
ul.color-select li.dflt {padding:3px; border:1px solid #bfbfbf;}
ul.color-select li.slct {padding:2px; border:2px solid #ff66b8;}
ul.color-select li.stck {padding:3px; border:1px dashed #cccccc;}
ul.color-select li.non {padding:3px; border:1px dashed #cccccc;}
ul.color-select li.over {padding:2px; border:2px solid #ff66b8;}
ul.color-select li.size {padding:2px; border:2px dashed #cccccc;}

/* サイズ選択 */
ul.size-select {
width:290px;
margin:0;
padding:0;
list-style-type:none;
color:#000;
font-family:'verdana', sans-serif;
}
ul.size-select li {
float:left;
display:block;
margin:7px 7px 0 0;
text-align:center;
overflow:hidden;
font-size:10px;
font-weight:bold;
}
/* サイズ選択：枠 */
ul.size-select li.dflt {
width:48px; height:22px;
padding-top:6px; border:1px solid #bfbfbf;
}
ul.size-select li.slct {
width:46px; height:20px;
padding-top:6px; border:2px solid #ff66b8;
}
ul.size-select li.stck {
width:48px; height:22px;
padding-top:6px; border:1px dashed #cccccc;
}
ul.size-select li.non {
width:48px; height:22px;
padding-top:6px; border:1px dashed #cccccc;
}
ul.size-select li.over {
width:46px; height:20px;
padding-top:6px; border:2px solid #ff66b8;
}
ul.size-select li.color {
width:46px; height:20px;
padding-top:6px; border:2px dashed #cccccc;
}


/* 詳細ー拡大画像小窓内 */
.zoom_cmt{font-size:8pt; line-height:10pt; color:#666666;}

/* 詳細ー画像にかかるレイヤー内 */
.obj_stck01{font-size:9pt; line-height:11pt; color:#000000;}
.obj_stck02{font-size:9pt; line-height:11pt; color:#666666;}

/* 詳細ー一緒に買うレイヤー内 */
.crd_ttl{font-size:11pt; font-weight: bold; line-height:13pt; color:#000000;}

/* リスト（通常／説明つき） */
.lst_tit{font-size:9pt; line-height:11pt; color:#990033;}
.lst_subtit{font-size:9pt; line-height:11pt; color:#c95f7b;}
.lst_rrd{font-size:9pt; line-height:11pt; color:#666666;}
.lst_idx{font-size:8pt; line-height:10pt; color:#666666;}
.lst_idx2{font-size:8pt; line-height:10pt; color:#000000;}
.lst_itmbdy{font-size:8pt; line-height:10pt; color:#333333;}
.lst_itmnum{font-size:8pt; line-height:10pt; color:#999999;}
.lst_itmcmt{font-size:8pt; line-height:10pt; color:#666666;}
.lst_rrd{font-size:8pt; line-height:10pt; color:#666666;}
.lst_rrd ul {
	margin: 0px;
	padding: 0px;
	list-style: circle inside;
}

/* 会員ページ */
.mbr_new{font-size:9pt; line-height:11pt; color: #000000;}
.mbr_new2{font-size:9pt; line-height:11pt; color: #cb6677;}
.mbr_new a {text-decoration: none;}
.mbr_new a:link {color: #000000; text-decoration: none;}
.mbr_new a:visited {color: #444444; text-decoration: none;}
.mbr_new a:active {color: #444444; text-decoration: none;}
.mbr_new a:hover {color: #cc0066; text-decoration: none;}
.mbr_attn{font-size:8pt; font-weight:bold; line-height:10pt; color: #ffffff;}
.mbr_attnbdy{font-size:9pt; line-height:11pt; color: #ff0000;}
