.crt01 {
    color: #999999;
    font-size: 10px;
    line-height: 13px;
}
.crt02 {
    color: #000000;
    font-size: 10px;
    line-height: 13px;
}
.crt03 {
    color: #000000;
    font-size: 9px;
    line-height: 11px;
}
textarea {
    font-size: 10px;
    line-height: 13px;
    padding: 1px;
}
.srchbg {
    background: url("../images/03_bg_search.gif") repeat-x scroll left top transparent;
}
.cartbg {
    background: url("../images/03_bg_cart.gif") repeat-x scroll left top transparent;
}
.mbr01 {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 14px;
}
.mbr01 a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.mbr01 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.mbr01 a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.mbr01 a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.mbr02 {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.mbr03 {
    color: #000000;
    font-size: 9px;
    font-weight: bold;
    line-height: 11px;
}
.mbr04 {
    color: #FF3399;
    font-size: 9px;
    line-height: 11px;
}
.ftr_idx {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.ftr_idx2 {
    color: #FF3399;
    font-size: 9px;
    line-height: 11px;
}
.ftr_idx3 {
    color: #000000;
    font-size: 9px;
    line-height: 11px;
}
