@import "mac02.css";
@import "hdrmac.css";
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    font-size: 10px;
    line-height: 13px;
    margin: 0;
    padding: 1px;
    text-decoration: none;
}
a:link {
    color: #FF3399;
    text-decoration: none;
}
a:visited {
    color: #FF3399;
    text-decoration: none;
}
a:hover {
    color: #FF33CC;
    text-decoration: none;
}
.bdy {
    font-size: 10px;
    line-height: 13px;
}
.cap {
    font-size: 9px;
    line-height: 11px;
}
.imgline {
    border: 1px solid #999999;
}
.top01 {
    color: #FF3399;
    font-size: 10px;
    line-height: 13px;
}
.top02 {
    color: #666666;
    font-size: 10px;
    line-height: 13px;
}
.top_attn {
    color: #FFFFFF;
    font-size: 9px;
    font-weight: bold;
    line-height: 11px;
}
.top_attnbdy {
    color: #FF0000;
    font-size: 9px;
    line-height: 11px;
}
.top_new {
    color: #000000;
    font-size: 10px;
    line-height: 12px;
}
.top_new2 {
    color: #CB6677;
    font-size: 10px;
    line-height: 13px;
}
.top_new a {
    text-decoration: none;
}
.top_new a:link {
    color: #000000;
    text-decoration: none;
}
.top_new a:visited {
    color: #444444;
    text-decoration: none;
}
.top_new a:active {
    color: #444444;
    text-decoration: none;
}
.top_new a:hover {
    color: #CC0066;
    text-decoration: none;
}
.top_rankingbdy {
    color: #333333;
    font-size: 9px;
    line-height: 11px;
}
.top_rankingnum {
    color: #999999;
    font-size: 9px;
    line-height: 11px;
}
.braslctbg01 {
    background: url("../images/braselect_step1bg.gif") repeat-x scroll left top transparent;
}
.braslctbg02 {
    background: url("../images/braselect_step2bg.gif") repeat-x scroll left top transparent;
}
.braslctbg03 {
    background: url("../images/braselect_step3bg.gif") repeat-x scroll left top transparent;
}
.brdttl {
    color: #980032;
    font-size: 9px;
    line-height: 13px;
}
.brdbdy {
    color: #C95F7B;
    font-size: 9px;
    line-height: 13px;
}
.brdnew {
    color: #845F7D;
    font-size: 9px;
    line-height: 12px;
}
.itm_new {
    color: #333333;
    font-size: 10px;
    line-height: 13px;
}
.itm_ttl {
    color: #000000;
    font-size: 9pt;
    font-weight: bold;
    line-height: 11pt;
}
.itm_bdy {
    color: #666666;
    font-size: 8pt;
    line-height: 10pt;
}
.itm_attn {
    color: #FF0000;
    font-size: 8pt;
    line-height: 10pt;
}
.moreinfo_bdy1 {
    color: #FF90B4;
    font-size: 10px;
    line-height: 12px;
}
.moreinfo_bdy2 {
    color: #333333;
    font-size: 10px;
    line-height: 12px;
}
.moreinfo_bdy2 a {
    text-decoration: none;
}
.moreinfo_bdy2 a:link {
    color: #333333;
    text-decoration: none;
}
.moreinfo_bdy2 a:visited {
    color: #666666;
    text-decoration: none;
}
.moreinfo_bdy2 a:active {
    color: #000000;
    text-decoration: none;
}
.moreinfo_bdy2 a:hover {
    color: #CC3399;
    text-decoration: none;
}
.rcm_ttl {
    color: #E43583;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
}
.rcm_bdy {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.item_bdy1 {
    color: #FF3399;
    font-size: 10px;
    line-height: 13px;
}
.item_bdy2 {
    color: #7D6262;
    font-size: 10px;
    line-height: 13px;
}
.item_bdy3 {
    color: #333333;
    font-size: 9px;
    line-height: 11px;
}
.cmt {
    color: #999999;
    font-size: 9px;
    line-height: 11px;
}
.ttl {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}
.rrd {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.rrd ul {
    list-style: disc inside none;
    margin: 0;
    padding: 0;
}
.sub01 {
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
}
.sub02 {
    color: #FF3399;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
}
.cart01 {
    color: #000000;
    font-size: 10px;
    line-height: 13px;
}
.cart02 {
    color: #666666;
    font-size: 10px;
    line-height: 13px;
}
.alrt {
    color: #FF0033;
    font-size: 9px;
    line-height: 11px;
}
.crd01 {
    color: #000000;
    font-size: 9px;
    line-height: 11px;
}
.crd02 {
    color: #999999;
    font-size: 9px;
    line-height: 11px;
}
form {
    margin: 0;
    padding: 0;
}
.btn {
    height: 12px;
    margin: 0;
    padding: 0;
    width: 12px;
}

.zoom_cmt {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.obj_stck01 {
    color: #000000;
    font-size: 10px;
    line-height: 13px;
}
.obj_stck02 {
    color: #FF3399;
    font-size: 10px;
    line-height: 13px;
}
.crd_ttl {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}
.lst_tit {
    color: #990033;
    font-size: 10px;
    line-height: 13px;
}
.lst_subtit {
    color: #C95F7B;
    font-size: 10px;
    line-height: 13px;
}
.lst_rrd {
    color: #666666;
    font-size: 10px;
    line-height: 13px;
}
.lst_idx {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.lst_idx2 {
    color: #000000;
    font-size: 9px;
    line-height: 11px;
}
.lst_itmbdy {
    color: #333333;
    font-size: 9px;
    line-height: 11px;
}
.lst_itmnum {
    color: #999999;
    font-size: 9px;
    line-height: 11px;
}
.lst_itmcmt {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.lst_rrd {
    color: #666666;
    font-size: 9px;
    line-height: 11px;
}
.lst_rrd ul {
    list-style: disc inside none;
    margin: 0;
    padding: 0;
}
.mbr_new {
    color: #000000;
    font-size: 10px;
    line-height: 12px;
}
.mbr_new2 {
    color: #CB6677;
    font-size: 10px;
    line-height: 13px;
}
.mbr_new a {
    text-decoration: none;
}
.mbr_new a:link {
    color: #000000;
    text-decoration: none;
}
.mbr_new a:visited {
    color: #444444;
    text-decoration: none;
}
.mbr_new a:active {
    color: #444444;
    text-decoration: none;
}
.mbr_new a:hover {
    color: #CC0066;
    text-decoration: none;
}
.mbr_attn {
    color: #FFFFFF;
    font-size: 9px;
    font-weight: bold;
    line-height: 11px;
}
.mbr_attnbdy {
    color: #FF0000;
    font-size: 9px;
    line-height: 11px;
}
